<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nvArrays</key>
	<dict/>
	<key>nvBooleans</key>
	<dict>
		<key>nvStatusBarStyleLightContentInNormalMode</key>
		<true/>
		<key>nvStatusBarStyleLightContentInDarkMode</key>
		<true/>
		<key>nvShowHeaderView</key>
		<false/>
		<key>nvShowEmptyImageView</key>
		<true/>
		<key>TransparentCtaButtonBackground</key>
		<false/>
		<key>DismissNotificationCenterOnAction</key>
		<true/>
		<key>nvShowAccessoryArrowInNCTable</key>
		<false/>
		<key>nvShouldIncludeEventScopeValueLastDay</key>
		<false/>
		<key>nvSeparatorLineInAudioPlayerViewInNotifications</key>
		<false/>
		<key>nvCouponCodeValueFontisBold</key>
		<false/>
		<key>nvDisableCopyCouponCodeButton</key>
		<false/>
		<key>nvDismissChatBotWindowOnInAppCallback</key>
		<true/>
	</dict>
	<key>nvStrings</key>
	<dict>
		<key>nv_notificationCentreBackground</key>
		<string></string>
		<key>nv_nc_NavigationBarBackgroundInNormalMode</key>
		<string></string>
		<key>nv_nc_NavigationBarBackgroundInDarkMode</key>
		<string></string>
		<key>nv_notificationCentreNavigationBarTitleText</key>
		<string></string>
		<key>nv_notificationCentreNavigationBarTitleFont</key>
		<string></string>
		<key>nvHeaderBackground</key>
		<string></string>
		<key>nvHeaderTitleText</key>
		<string></string>
		<key>nvHeaderTitleFont</key>
		<string></string>
		<key>nvActivityIndicatorViewStyle</key>
		<string></string>
		<key>nvEmptyImageViewData</key>
		<string></string>
		<key>nvEmptyDataMsgTextFont</key>
		<string></string>
		<key>nvNotificationContentTitleFont</key>
		<string></string>
		<key>nvNotificationContentTimeFont</key>
		<string></string>
		<key>nvNotificationContentMsgFont</key>
		<string></string>
		<key>nvCallToActionButtonFont</key>
		<string></string>
		<key>nvCopyCouponCodeTitleText</key>
		<string></string>
		<key>nvCopyCouponCodeTitleFont</key>
		<string></string>
		<key>nvCopyCouponCodeValueFont</key>
		<string></string>
		<key>nv_ChatBotNavigationBarTitleFont</key>
		<string></string>
	</dict>
	<key>nvColors</key>
	<dict>
		<key>nvStatusBarColorInNormalMode</key>
		<string></string>
		<key>nvStatusBarColorInDarkMode</key>
		<string></string>
		<key>nv_nc_NavigationBarTitleTextColorInNormalMode</key>
		<string></string>
		<key>nv_nc_NavigationBarTitleTextColorInDarkMode</key>
		<string></string>
		<key>nv_nc_NavigationBarButtonColorInNormalMode</key>
		<string></string>
		<key>nv_nc_NavigationBarButtonColorInDarkMode</key>
		<string></string>
		<key>nvHeaderTitleColor</key>
		<string></string>
		<key>nvEmptyDataMsgTextColor</key>
		<string></string>
		<key>nvNotificationContentBgColor</key>
		<string></string>
		<key>nvNotificationContentBorderColor</key>
		<string></string>
		<key>nvNotificationContentTitleColor</key>
		<string></string>
		<key>nvNotificationContentTimeColor</key>
		<string></string>
		<key>nvNotificationContentMsgColor</key>
		<string></string>
		<key>nvCtaButtonBackgroundColor</key>
		<string></string>
		<key>nvCtaButtonBorderColor</key>
		<string></string>
		<key>nvCtaButtonOneTextColor</key>
		<string></string>
		<key>nvCtaButtonTwoTextColor</key>
		<string></string>
		<key>nvCopyCouponCodeTitleTextColor</key>
		<string></string>
		<key>nvCopyCouponCodeValueTextColor</key>
		<string></string>
		<key>nvCopyCouponButtonBgColor</key>
		<string></string>
		<key>nvTableViewDeleteButtonBackgroundColor</key>
		<string></string>
	</dict>
	<key>nvNumbers</key>
	<dict>
		<key>nvActivityIndicatorBgAlpha</key>
		<integer>0</integer>
		<key>nv_notificationCentreNavigationBarTitleFontSize</key>
		<integer>0</integer>
		<key>nvNavigationBarButtonSize</key>
		<integer>0</integer>
		<key>nvHeaderTitleFontSize</key>
		<integer>0</integer>
		<key>nvNoNotificationsImageViewWidth</key>
		<integer>0</integer>
		<key>nvNoNotificationsImageViewHeight</key>
		<integer>0</integer>
		<key>nvNotificationContentBorderWidth</key>
		<integer>0</integer>
		<key>nvEmptyDataMsgTextFontSize</key>
		<integer>0</integer>
		<key>nvNotificationContentBorderCornerRadius</key>
		<integer>0</integer>
		<key>nvNotificationContentTitleFontSize</key>
		<integer>0</integer>
		<key>nvNotificationContentTimeFontSize</key>
		<integer>0</integer>
		<key>nvNotificationContentMsgFontSize</key>
		<integer>0</integer>
		<key>nvCallToActionButtonFontSize</key>
		<integer>0</integer>
		<key>nvCallToActionButtonBorderSize</key>
		<integer>0</integer>
		<key>nvNotificationContentDeviderHeight</key>
		<integer>0</integer>
		<key>nvNotificationContentFooterHeight</key>
		<integer>0</integer>
		<key>nvCopyCouponCodeTitleFontSize</key>
		<integer>0</integer>
		<key>nvCopyCouponCodeValueFontSize</key>
		<integer>0</integer>
		<key>nv_ChatBotNavigationBarTitleFontSize</key>
		<integer>0</integer>
		<key>nvDefaultSessionTimeOutInMinute</key>
		<integer>20</integer>
		<key>nvModalSurveyResizingAnimationDurationInSeconds</key>
		<integer>0</integer>
		<key>nvModalSurveyResizingBottomPadding</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
